* {
    margin: 50;
    padding: 50;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: blue;
    background-color: grey;
}

div {
    color: yellow;
    background-color: grey;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: rgb(15, 17, 15);
}

a:active {
    color: red;
}

.bigRed {
    font-size: x-large;
    color: red;
}

li {
    color: goldenrod;
    background-color: black;
}